*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #000;
  color: white;
}

/* tamplate */
.container {
  max-width: 1200px;
  margin-inline: 8%;
}

.article-title {
  font-size: 2rem;
}

/* tamplate */

/* navbar */

header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  top: 0;
  border-radius: 0 0 10px 10px;
  transition: background-color 0.3s ease-in-out;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  z-index: -1;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-inline: auto;
  max-width: 1200px;
  align-self: center;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 1);
}

.nav-title a span {
  color: #ffd000;
}

.nav-title a span::before {
  content: "lgy";
  color: white;
  display: none;
  transition: 0.3s ease-in-out;
  margin-right: 0.5rem;
}

.nav-title a span::after {
  content: "g";
  display: none;
  transition: 0.3s ease-in-out;
}

.nav-title a span:hover::before {
  color: white;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.nav-title a span:hover::after {
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-link {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 300;
  border-radius: 30px;
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}

.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  width: 0;
  transition: width 0.3s ease;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in-out 2s infinite;
}

.nav-link:hover::after {
  width: 50%;
}

.nav-link:hover {
  color: #ffd000;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}

.nav-toggle span {
  font-size: 1.25rem;
}

.nav-toggle:hover {
  color: #ffd000;
}

/* navbar */

/* main */

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

/* home */

#home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-image: url(../assets/bs3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding-block: 5rem;
}

#home::after {
  content: "";
  display: block;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: 8%;
  max-width: 1200px;
  gap: 5rem;
}

.content-text {
  flex: 2.5;
  position: relative;
}

.content-text::before {
  content: "";
  display: block;
  height: 0px;
  background-color: white;
  width: 2px;
  transition: height 0.3s ease;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
  animation: fade-in-out 2s infinite;
}

.content-text:hover::before {
  height: 100%;
}

.content-text h2 {
  font-size: 1.75rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}

.content-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-block-end: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}

.content-text h1 span {
  color: #ffd000;
}

.content-text h3 {
  font-size: 1.25rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
  margin-block-end: 0.5rem;
}

.content-text h3 span {
  color: #ffd000;
}

.content-text p {
  font-size: 1.25rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 1);
  margin-block-end: 1rem;
}

.content-text .aboutBtn {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 1.5rem 3rem;
  background-color: #44434262;
  display: inline-block;
  margin-block-start: 1rem;
  transition: 0.3s ease-in-out;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 3, 1);
}

.content-text .aboutBtn i {
  margin-inline-start: 0.5rem;
}

.content-text .aboutBtn:hover {
  background-color: #2a2929;
  transition: 0.3s ease-in-out;
  color: #ffd000;
}

.home-content aside {
  flex: 1.5;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.content-img img {
  object-fit: cover;
  object-position: center;
  display: block;
  box-shadow: -10px 10px 10px 1px #ffb700;
  aspect-ratio: 1.35/2;
  max-width: 20rem;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.content-img img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  box-shadow: -10px 10px 10px 1px #ffd000;
}

.sosmed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 2;
}

.sosmed a {
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 1);
}

.sosmed a:hover {
  color: #ffd000;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

/* home */

/* about */

#about-me {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  row-gap: 3rem;
  padding-block: 5rem;
  background-image: url(../assets/bs5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#about-me::before {
  content: "";
  display: block;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#about-me::after {
  content: "";
  display: block;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.about-title .article-title span {
  color: #ffd000;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  max-width: 1200px;
  gap: 3rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 2rem 3rem;
  box-shadow: -3px 3px 10px 3px #ffd000;
  margin-inline: 8%;
  transition: background-color 0.3s ease-in-out;
}

.profil-bio {
  order: -1;
}

.profil-bio img {
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 10px;
  aspect-ratio: 1.35/2;
  max-width: 18rem;
  transition: transform 0.5s ease-in-out;
}

.profil-bio img:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease-in-out;
}

.biodata {
  display: flex;
  flex-direction: column;
}

.biodata h3 {
  display: inline-block;
  border-bottom: 1px solid #ffd000;
  padding: 0.5rem;
}

.biodata p {
  font-size: 1rem;
  text-align: justify;
  text-indent: 2rem;
  line-height: 1.5rem;
  margin-block: 0 1rem;
  border-bottom: 1px solid #ffd000;
  padding: 0.5rem;
}

.tabel-bio {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 400;
  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  td {
    padding: 0.5rem;
  }
}

.contact-btn {
  cursor: default;
}

.contact-btn span {
  display: inline-block;
  margin-block: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border: 1px solid #ffd000;
  cursor: pointer;
}

.contact-btn span:hover {
  background-color: #44434262;
}

/* about */

/* education */

#education {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  position: relative;
  row-gap: 3rem;
  width: 100%;
  padding-block: 5rem;
  background-image: url(../assets/bs3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#education::before {
  content: "";
  display: block;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#education::after {
  content: "";
  display: block;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.education-title .article-title span {
  color: #ffd000;
}

.education-content {
  max-width: 1200px;
  margin-inline: 8%;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
}

.education-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: -2px 2px 10px 3px #2a2929;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  aspect-ratio: 1.4/2;
  max-width: 19.3rem;
  overflow: hidden;
  gap: 0.5rem;
}

.education-img {
  flex: 2;
  box-sizing: border-box;
  position: relative;
}

.education-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}

.education-img img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.education-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding-inline: 1rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.452);
  height: 100%;
  flex: 1;
}

.education-info span {
  position: absolute;
  padding: 0.4rem 2rem;
  top: -20%;
  background-color: #ffd000;
  border-radius: 20px;
  z-index: 99;
  border: 0.4rem solid black;
  display: inline-block;
  font-weight: 500;
}

.education-info h4 {
  text-align: center;
}

/* education */

/* hobbies */

#hobbies {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  position: relative;
  row-gap: 3rem;
  width: 100%;
  padding-block: 5rem;
  background-image: url(../assets/bs5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hobbies::before {
  content: "";
  display: block;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#hobbies::after {
  content: "";
  display: block;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hobbies-title span {
  text-shadow: -4px 4px 5px rgba(255, 196, 0, 0.704);
}

.hobbies-content {
  max-width: 1200px;
  margin-inline: 8%;
  display: flex;
  justify-content: space-evenly;
  gap: 0.1rem;
  background-color: #ffd000;
  padding: 0.2rem;
}

.hobbies-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  flex: 1;
  overflow: hidden;
  transition: flex-grow 0.5s ease-in-out, filter 0.5s ease-in-out;
  filter: grayscale(80%);
}

.hobbies-item:hover {
  flex: 3;
  transition: flex-grow 0.5s ease-in-out, filter 0.5s ease-in-out;
  filter: grayscale(0%);
}

.hobbies-item img {
  width: 100%;
  height: 27rem;
  object-fit: cover;
  object-position: center;
}

.hobbies-item h4 {
  position: absolute;
  bottom: 1rem;
  display: inline;
}

/* hobbies */

/* contact */

#contact {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  position: relative;
  row-gap: 3rem;
  width: 100%;
  padding-block: 5rem;
}

#contact::before {
  content: "";
  display: block;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.contact-title {
  width: 100%;
  background-color: #ffd000;
  text-align: center;
  padding-block: 1.5rem;
  max-width: 1200px;
  margin-inline: auto;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  max-width: 1200px;
  gap: 3rem;
  border-radius: 20px;
  margin-inline: 8%;
  transition: background-color 0.3s ease-in-out;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.contact-info h3 {
  font-size: 2.5rem;
  border-bottom: 1px solid #ffd000;
  padding-block: 0.5rem;
}

.contact-info > p {
  font-size: 1rem;
  text-align: justify;
  text-indent: 2rem;
  line-height: 1.25rem;
}

.contact-info aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.contact-info aside h4 {
  font-weight: 600;
  font-size: 1.25rem;
}

.contact-info .sosmed {
  display: flex;
  flex-direction: row;
}

.contact-info .sosmed a i {
  font-size: 1.5rem;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  flex-wrap: wrap;
  border-bottom: 1px solid #2a2929;
  padding-block: 2rem;
}

.contact-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 45%;
}
.contact-menu i {
  background-color: #ffd000;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 2rem;
}

.menu-detail h5 {
  font-size: 1.1rem;
}

.menu-detail p {
  font-size: 0.9rem;
}

.form-contact {
  flex: 1;
}

.form-contact form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem 2rem;
  background-color: transparent;
  box-shadow: -2px 2px 10px 3px #2a2929;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;
}

.form-title {
  font-size: 1.2rem;
  text-align: center;
  margin-block: 0.5rem;
}

.form-group label {
  font-weight: 700;
  color: #ffd725;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input::placeholder {
  font-family: Montserrat, sans-serif;
}

.form-group textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 10rem;
}

.form-group textarea::placeholder {
  font-family: Montserrat, sans-serif;
}

.submit-form {
  padding: 0.7rem 2rem;
  background-color: #ffffff6f;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}
.submit-form:hover {
  background-color: #ffd000;
}

.message,
.form-title {
  flex-basis: 100%;
}

.email,
.phone,
.name,
.subject {
  flex-basis: 40%;
}

/* contact */

/* main */

/* footer */
footer {
  width: 100%;
  background-color: #2a2929;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  border-radius: 20px;
  margin-inline: auto;
  padding-block: 1.5rem;
}

.footer-container h4 {
  font-weight: 600;
  font-size: 1rem;
  color: #b6b6b6;
}

.footer-container a {
  color: #b6b6b6;
  text-decoration: none;
}

/* footer */

/* responsive */

@media screen and (max-width: 1440px) {
  .navbar,
  .footer-container,
  .contact-title {
    margin-inline: 8%;
  }
}

@media screen and (max-width: 1024px) {
  /* header */
  .navbar {
    margin-inline: 8%;
  }

  .nav-list ul {
    gap: 2rem;
  }

  .nav-title a {
    font-size: 1.4rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }
  /* header */

  /* home */

  .content-text h2 {
    font-size: 1.25rem;
  }

  .content-text h1 {
    font-size: 2.5rem;
  }

  .content-text h3 {
    font-size: 1rem;
  }

  .content-text p {
    font-size: 1rem;
    margin-block-end: 0.5rem;
  }

  .content-text .aboutBtn {
    font-size: 1rem;
    padding: 1.25rem 2rem;
  }

  .content-img img {
    max-width: 17rem;
  }

  .sosmed a {
    font-size: 1.5rem;
  }
  /* home */

  /* about */

  .biodata p {
    font-size: 0.9rem;
  }

  .tabel-bio {
    font-size: 0.8rem;
  }
  /* about */

  /* contact */

  .contact-info h3 {
    font-size: 2rem;
  }

  .contact-info > p {
    font-size: 1rem;
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.25rem;
  }

  .contact-info aside h4 {
    font-weight: 600;
    font-size: 1rem;
  }

  .contact-info .sosmed a i {
    font-size: 1.25rem;
  }

  .contact-menu i {
    background-color: #ffd000;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .menu-detail h5 {
    font-size: 1rem;
  }

  .menu-detail p {
    font-size: 0.7rem;
  }

  /* contact */
}

@media screen and (max-width: 768px) {
  /* header */

  .nav-list {
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -1000px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 0 20px 20px;
    padding: 1rem 0;
    width: 100%;
    z-index: 90;
    transition: top 0.5s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 0px 1px 0.6px #fff;
    left: 0;
  }

  .nav-link {
    font-weight: 300;
    font-size: 0.75rem;
    color: white;
  }

  .nav-toggle {
    display: inline-block;
    z-index: 99;
  }

  .nav-list.active {
    top: 4.3rem;
  }

  /* header */

  /* home */

  .content-text {
    margin-block-start: 2rem;
  }

  .content-text h1 {
    font-size: 2.5rem;
  }

  .content-text h3 {
    font-size: 1rem;
  }

  .content-text p {
    font-size: 1rem;
    margin-block-end: 0.5rem;
  }

  .content-text .aboutBtn {
    font-size: 1rem;
    padding: 1.25rem 2rem;
  }

  .home-content aside {
    flex-direction: column;
    gap: 2rem;
  }

  .sosmed {
    flex-direction: row;
    gap: 2rem;
    padding-right: 1rem;
  }

  .content-img img {
    max-height: 20rem;
  }

  /* home */

  /* about */

  .about-content {
    flex-direction: column;
    gap: 2rem;
  }

  .profil-bio img {
    max-width: 12rem;
  }

  .biodata h3 {
    display: none;
  }

  .biodata p {
    font-size: 0.9rem;
    border-top: 1px solid #ffd000;
  }

  .tabel-bio {
    font-size: 0.8rem;
  }

  /* about */

  /* contact */

  .contact-content {
    flex-direction: column;
  }

  /* contact */
}

@media screen and (max-width: 480px) {
  /* home */

  #home {
    background-image: url(../assets/home-foto.jpg);
  }

  .home-content {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.1rem;
  }

  .content-img img {
    display: none;
  }

  .sosmed {
    padding-right: 0rem;
  }

  /* home */

  /* about */

  .about-content {
    padding: 2rem;
  }

  .profil-bio img {
    max-width: 10rem;
  }

  .biodata p {
    font-size: 0.9rem;
  }

  .tabel-bio {
    font-size: 0.8rem;
  }

  .contact-btn span {
    font-size: 0.9rem;
  }

  /* about */

  /* hobbies */

  .hobbies-item:hover {
    flex: 5;
  }

  .hobbies-item h4 {
    font-size: 0.5rem;
  }

  /* hobbies */

  /* contact */

  .contact-menu {
    flex: 100%;
  }

  .email,
  .phone,
  .name,
  .subject {
    flex-basis: 100%;
  }

  .contact-info aside {
    flex-direction: column;
    gap: 0.5rem;
  }

  /* contact */
}

/* responsive */
