*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #000;
  color: white;
  /* height: 2000px; */
}

/* navbar */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  backdrop-filter: blur(15px);
  top: 0;
  height: 4rem;
  padding: 0 8%;
  max-width: 2045px;
  border-radius: 0 0 10px 10px;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 1);
}
.nav-title a span {
  color: #ffd000;
}
.nav-title a span::before {
  content: "lgy";
  color: white;
  display: none;
  transition: 0.3s ease-in-out;
  margin-right: 0.5rem;
}
.nav-title a span::after {
  content: "g";
  display: none;
  transition: 0.3s ease-in-out;
}

.nav-title a span:hover::before {
  color: white;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.nav-title a span:hover::after {
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-link {
  font-family: Poppins, sans-serif;

  text-decoration: none;
  color: white;
  font-weight: 300;

  border-radius: 30px;
  position: relative;

  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}

.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  width: 0;
  transition: width 0.3s ease;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in-out 2s infinite;
}

.nav-link:hover::after {
  width: 50%;
}

.nav-link:hover {
  color: #ffd000;
}

.nav-toggle {
  display: none;
  cursor: pointer;

  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}

.nav-toggle span {
  font-size: 1.25rem;
}

.nav-toggle:hover {
  color: #ffd000;
}

/* navbar */

/* main */

main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  overflow: hidden;
}

#home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-image: url(../assets/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#home::after {
  content: "";
  display: block;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  width: 100%;
  max-width: 2045px;
  gap: 5rem;
}

.content-text {
  flex: 2.5;

  position: relative;
}
.content-text::before {
  content: "";
  display: block;
  height: 0px;
  background-color: white;
  width: 2px;
  transition: height 0.3s ease;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
  animation: fade-in-out 2s infinite;
}

.content-text:hover::before {
  height: 100%;
}

.content-text h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;

  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}

.content-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-block-end: 1rem;

  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
}
.content-text h1 span {
  color: #ffd000;
}

.content-text h3 {
  font-size: 1.5rem;

  text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
  margin-block-end: 0.5rem;
}

.content-text h3 span {
  color: #ffd000;
}

.content-text p {
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 3, 1);

  margin-block-end: 1rem;
}

.content-text .aboutBtn {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 1.5rem 3rem;
  background-color: #44434262;
  display: inline-block;
  margin-block-start: 1rem;
  transition: 0.3s ease-in-out;
  align-items: center;
  cursor: pointer;

  box-shadow: 1px 1px 3px rgba(0, 0, 3, 1);
}
.content-text .aboutBtn i {
  margin-inline-start: 0.5rem;
}

.content-text .aboutBtn:hover {
  background-color: #2a2929;
  transition: 0.3s ease-in-out;
  color: #ffd000;
}

.home-content aside {
  flex: 1.5;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.content-img img {
  object-fit: cover;
  object-position: center;
  display: block;
  box-shadow: -10px 10px 10px 1px #ffb700;
  aspect-ratio: 1.35/2;
  max-width: 22rem;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}
.content-img img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  box-shadow: -10px 10px 10px 1px #ffd000;
}

.sosmed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  order: 2;
}
.sosmed a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  text-shadow: 1px 1px 3px rgba(0, 0, 3, 1);
}

.sosmed a:hover {
  color: #ffd000;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

/* main */

/* footer */

/* footer */

/* responsive */

@media screen and (max-width: 480px) {
  #home {
    background-image: url(../assets/home-foto.jpg);
  }

  .home-content {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.1rem;
  }

  .sosmed {
    padding-right: 0rem;
  }

  .content-img img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    gap: 2rem;
    flex-direction: column;
    position: absolute;
    top: 4.3rem;

    justify-content: center;
    align-items: center;
    right: -1000px;
    background-color: #2c2c2cb1;
    backdrop-filter: blur(15px);
    border-radius: 20px 0 20px 0;
    padding: 2rem 3rem;
    z-index: 90;
    transition: right 0.5s ease-in-out;
  }

  .nav-toggle {
    display: inline-block;
    z-index: 99;
  }

  .nav-list.active {
    right: 8%;
  }

  .content-text {
    margin-block-start: 2rem;
  }

  .content-text h1 {
    font-size: 2.5rem;
  }

  .content-text h3 {
    font-size: 1rem;
  }

  .content-text p {
    font-size: 1rem;
    margin-block-end: 0.5rem;
  }

  .content-text .aboutBtn {
    font-size: 1rem;
    padding: 1.25rem 2rem;
  }

  .home-content aside {
    flex-direction: column;
    gap: 2rem;
  }

  .sosmed {
    flex-direction: row;
    gap: 2rem;
    padding-right: 1rem;
  }

  .content-img img {
    max-height: 20rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-list ul {
    gap: 2rem;
  }
  .nav-title a {
    font-size: 1.4rem;
  }
  .nav-link {
    font-size: 0.9rem;
  }

  .content-text h2 {
    font-size: 1.25rem;
  }

  .content-text h1 {
    font-size: 2.5rem;
  }

  .content-text h3 {
    font-size: 1rem;
  }

  .content-text p {
    font-size: 1rem;

    margin-block-end: 0.5rem;
  }

  .content-text .aboutBtn {
    font-size: 1rem;
    padding: 1.25rem 2rem;
  }

  .content-img img {
    max-width: 17rem;
  }

  .sosmed a {
    font-size: 1.5rem;
  }
}

/* responsive */
