*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #000;
  color: white;
  /* height: 2000px; */
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  top: 0;
  left: 0;
  padding: 1.5rem 8%;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.nav-title a span {
  color: #ffd000;
}
.nav-title a span::before {
  content: "lgy";
  color: white;
  display: none;
  transition: 0.3s ease-in-out;
  margin-right: 0.5rem;
}
.nav-title a span::after {
  content: "g";
  display: none;
  transition: 0.3s ease-in-out;
}

.nav-title a span:hover::before {
  color: white;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.nav-title a span:hover::after {
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.nav-list ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-link {
  font-family: Poppins, sans-serif;

  text-decoration: none;
  color: white;
  font-weight: 300;

  padding: 0.5rem 1rem;
  border-radius: 30px;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ffd000;
  width: 0;
  transition: width 0.3s ease;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: fade-in-out 2s infinite;
}

.nav-link:hover::after {
  width: 50%;
}

.nav-link:hover {
  color: #ffd000;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

.nav-toggle span {
  font-size: 1.25rem;
}

.active {
  top: -10px;
}

/* navbar */

/* main */

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#home {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url(../assets/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  gap: 5rem;
  flex: 1;
}

.content-text {
  flex: 2.5;
  padding: 1rem 1.5rem;
  position: relative;
}
.content-text::before {
  content: "";
  display: block;
  height: 0px;
  background-color: white;
  width: 2px;
  transition: height 0.3s ease;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
  animation: fade-in-out 2s infinite;
}

.content-text:hover::before {
  height: 100%;
}

.content-text h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-block-end: 1rem;
}
.content-text h1 span {
  color: #ffd000;
}

.content-text p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7rem;
}

.content-text .aboutBtn {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  background-color: #444342;
  display: inline-block;
  margin-block-start: 1rem;
  transition: 0.3s ease-in-out;
  align-items: center;
  cursor: pointer;
}
.content-text .aboutBtn i {
  margin-inline-start: 0.5rem;
}

.content-text .aboutBtn:hover {
  background-color: #2a2929;
  transition: 0.3s ease-in-out;
  color: #ffd000;
}

.content-side {
  position: relative;
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  order: 1;
}
.content-img img {
  object-fit: cover;
  object-position: center;
  display: block;
  box-shadow: -10px 10px 10px 1px #ffb700;
  width: 23rem;
  height: 32rem;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}
.content-img img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  box-shadow: -10px 10px 10px 1px #ffd000;
}

.sosmed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sosmed a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.sosmed a:hover {
  color: #ffd000;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

/* main */

/* footer */

/* footer */

/* responsive */

@media screen and (max-width: 425px) {
  #home {
    background-image: url(../assets/home-foto.jpg);
  }

  .content-img img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-list ul {
    gap: 3rem;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: -1000px;
    background-color: #444342;
    border-radius: 20px;
    padding-block: 3rem 2rem;
  }

  .nav-toggle {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .nav-list ul {
    gap: 2rem;
  }
}

/* responsive */
